name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: yarn

      - run: yarn

      - run: yarn format

      - run: yarn lint

      - run: yarn check-types
